doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/items.css")
       

        title CRUD-APP
    body(class="main")
        div.formulaire
          h1= Welcome
          form(class="form", action="/", method="POST")
            input(name="content", type="text", placeholder="Add a post")
            button(class='button', type="submit") Add 
        div(class="posts") 
            if posts 
            for post in posts
                form(class="post" , action="/posts/delete/" + post.id, method="POST")
                    p(class="text") #{post.content} 

                    div(class="btns")
                        button(class="button") Delete 
                        a(href="/posts/" + post.id ) Edit

