.text
{
    display: flex;
    flex-direction: colums;
    
}
.main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 50px;
    margin-top: 200px;
}
h1{
    color: rgba(16, 16, 185, 0.959);
}
input{
    height: 100px;
    width: 400px;
    padding-left: 20px;
    margin-right: 20px;
    border: 5px solid rgba(8, 8, 73, 0.384);
    border-radius: 10px;
}
.button{
    height: 40px;
    width: 100px;
    background-color: rgba(8, 8, 73, 0.384);
    color: beige;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;

}